# OpenAI
OPENAI_API_KEY=sk-your-openai-api-key-here

# AWS S3
AWS_ACCESS_KEY_ID=your-aws-access-key
AWS_SECRET_ACCESS_KEY=your-aws-secret-key
AWS_REGION=us-east-1
S3_BUCKET_NAME=your-bucket-name

# MongoDB (for Docker)
MONGODB_URI=mongodb://admin:password123@mongodb:27017/assignment_db?authSource=admin

# MongoDB (for Cloud - MongoDB Atlas)
# MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/assignment_db

# Database
DATABASE_NAME=assignment_db

# YouTube
YOUTUBE_API_KEY=your-youtube-api-key

# App
UPLOAD_DIR=temp
MAX_FILE_SIZE=10485760